
.footer{
    display: flex;
    flex-direction: row;
    border-top: 2px solid;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 20px;
    border-top: 1px solid #444444;

}

.contact-section{
    margin-left: 15px;
}

.contact-sites {

    display: flex;
    flex-direction: row;
    gap: 45px;
}