.input-panel {
    /* margin: auto; */
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* White text color */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input-panel .panel-info-icon {
    position: absolute;
    top: 8px;
    right: 18px;
    border: 2px solid;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.input-panel .panel-info-icon:hover {
    background: rgb(132, 132, 132);
}

.input-panel .info-box {
    position: absolute;
    top: 0px; /* Adjust as needed */
    right: -280px; /* Adjust as needed */
    max-width: 15em;
    padding: 10px;
    background-color: #333333; /* Darker input background */
    color: #ffffff; /* White text color */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #444444; /* Darker border */
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none; /* Initially hidden */
    z-index: 200;
}

.input-panel .info-box::before, .input-panel .info-box::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: 23px;
    left: -35px;
    transform: rotate(180deg);
    border-width: 9px 0 9px 35px;
    z-index: 1;
    border-color: transparent transparent transparent #333333;
}

.input-panel .info-box::before{
    transform: rotate(180deg) scale(1.15);
    border-width: 9px 0 9px 33px;

    z-index: 1;
    border-color: transparent transparent transparent #444444;
    
}

/* .input-panel .info-box::before {
    top: 10px;
    right: -20px;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #333333;
} */

/* .input-panel .info-box::after {
    top: 23px;
    left: -38px;
    transform: rotate(180deg);
    border-width: 9px 0 9px 38px;
    border-color: transparent transparent transparent #444444;
} */

.input-panel .panel-info-icon:hover + .info-box {
    display: block;
}

.input-panel h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.input-panel input[type="text"],
.input-panel input[type="password"],
.input-panel input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 45px;
    border: 1px solid #444444; /* Darker border */
    border-radius: 4px;
    background-color: #333333; /* Darker input background */
    color: #ffffff; /* White text color */
    box-shadow: inset 0 1px 2px rgba(110, 74, 74, 0.1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-panel button {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; /* Green button color */
    color: #ffffff; /* White text color */
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 45px;
    margin-bottom: 20px;
}

.input-panel button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.input-panel label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.input-panel .panel-switcher-label {
    font-weight: bold;
    font-size: large;
}

.input-panel .panel-switcher-label:hover {
    cursor: pointer;
    text-decoration: underline; /* Underline on hover for register label */
}

.input-panel .input-icon-wrapper {
    position: relative;
}

.input-panel .left-side-input-icon {
    position: relative;
    top: 41px;
    left: 6px;
    background-color: rgb(132, 132, 132);
    border-radius: 5px;
    padding: 3px;
}

.input-panel .right-side-input-icon {
    position: absolute;
    top: 42px;
    right: 7px;
    background-color: rgb(132, 132, 132);
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
}

.input-panel .right-side-input-icon:hover {
    background-color: rgb(98, 98, 98);
}

.input-panel form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input-panel .input-alert-wrapper {
    position: relative;
}

.alert {
    color: rgb(195, 43, 43);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3px;
    margin-top: 4px;
    width: 100%;
    position: absolute;
}

.flashed-messages {
    margin: auto;
    width: 70%;
}

.flashed-messages .alert {
    top: 10px;
}