/* quiz-specification-panel */
/*      general */


.quiz-specification-panel{
    display: block;
    box-sizing: border-box;
    height: 100%;
    font-size: inherit;
    margin-top: 0;
    padding: 0;
    /* background-color: red; */
}

.quiz-editor-nav-menu{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0px 10px;
    align-items: center;
    margin-top: 15px;
    background-color: #515151;
    position: relative;
    z-index: 100;
    border-radius: 15px;
    grid-template-areas: "a b c";
    padding: 10px 10px;
}

.quiz-editor-nav-menu .submit-button{
    margin-left: auto;
}

.quiz-editor-nav-menu > .header-menu-wrapper{

    flex: 0.70;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.quiz-editor-nav-menu .nav-menu-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    align-items: center;
}

.quiz-editor-nav-menu button{
    flex: 0.30;
}


.nav-menu-panel > .arrow{
    cursor: pointer;
    /* height: calc(0.3em + 1.5vh); */
    /* width: auto; */
    width: clamp(3px, 1.2vw, 10px);
    height: clamp(3px, 1.2vw, 10px);
}


.nav-menu-options {
    font-size: 0.8em;
    display: flex;
}

.nav-menu-options > .menu-option-wrapper > .menu-option{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: red; */
    /* margin: 0px 5px; */
    padding: 0px 5px;
    border-bottom: none;
    position: relative;
}

.menu-option-wrapper{
    position: relative;
}



.selected-menu-option::after{
    /* border-bottom: 2px solid #2fed00 !important; */
    content: "";
    position: absolute;
    border-bottom: 2px solid #2fed00 !important;
    /* width: 100%; */
    width: 90%;
    left: 5%;
    box-sizing: border-box;
    padding: 0 30px;
    /* left: 50%; */
    top: 105%;
    margin: auto;
}


.nav-menu-options > .menu-option-wrapper:not(:last-child) > label{
    border-right: 2px solid;
}

.nav-menu-panel > .arrow-left, .nav-menu-panel > .arrow-right,
.nav-menu-options > .menu-option-wrapper:not(:last-child) > label

{
    border-color: #d2d1d1;
}

.input-alert-wrapper{
    position: relative;
}

.input-alert-wrapper > .alert-text-image-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    /* background-color: red; */
}


.alert-text-image-wrapper > .alert-text{
    font-size: 0.6em;
    color: red;
    margin: 0px 3px;
    display: flex;
}

/* .quiz-specification-panel .header-submit-button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
} */



.quiz-specification-panel p {
    font-size: 1em;
}

.quiz-specification-panel #section-wrapper{
    background-color: rgb(45, 45, 45);
    padding: 15px 0;
    position: relative;
    top: -8px;
    border-radius: 0px 0px 15px 15px;


    /* background-color: green; */
    /* max-width: 1px; */
}

/* --- */

#section-wrapper > section > hr{
    border-color: #444444;
    margin-bottom: 15px;
}



/* -- */
.general-info-section{
    font-size: inherit;
    /* background-color: green; */
    height: fit-content;
    width: fit-content;
    /* background-color: green; */
    /* padding-bottom: 50px; */
    box-sizing: border-box;
    border: 1px solid;
    border-color: #444444;
    padding: 0px 10px;
    margin: auto;
    
    /* background-color: green; */
    /* flex: 1; */
    /* width: fit-content; */
    /* background-color: red; */
}

.general-info-section {
    /* margin-top: -0.0001em; */
    padding-bottom: 30px;
}

.general-info-section p, .question-list-section p{
    font-size: 0.95em;
}

/* ####         Moving elements from top so that they are the same vertical level            ####
   ####         This is necessary because fieldset legend additional space from top.         ####*/


/* ############################ general-info-form ############################ */


.general-info-form{
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: clamp(100px, 35vh, 250px);
    box-sizing: border-box;
    font-size: inherit;
    position: relative;                     /* This property is required so that
                                               general-info-form and subject-tag-list are
                                               at same vertical level.*/
    top: -10px;                    
}



.general-info-form fieldset > legend{
    font-size: 0.9em;
}

.quiz-inputs-panel, .subject-tag-list{
    gap: 15px;
}

/* ############################ quiz-inputs-panel ############################ */

.quiz-inputs-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* gap: 15px; */
    width: 250px;                                 
}


.quiz-inputs-panel select {
    width: 100%;
}


.quiz-inputs-panel > fieldset, .quiz-inputs-panel > .time-value-unit-wrapper > fieldset{
    height: clamp(5px, 20vh, 40px);
  
}

/* This style ensures all inputs or selects merge with their fieldset container */
/* Also widgets needs to be indented from top because of legends */
.quiz-inputs-panel fieldset > input, .quiz-inputs-panel fieldset > select{
    outline: 0;
    border: 0;
    box-shadow: none;
    font-size: 0.8em;
    /* background-color: red; */
    /* margin-top: 0.00000001em; */
}

.quiz-inputs-panel .time-value-unit-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.time-value-unit-wrapper > fieldset:first-child{
    flex: 0.40;
}

.time-value-unit-wrapper > fieldset:first-child > input{
    max-width: 2.8em;
}

.time-value-unit-wrapper > fieldset:nth-child(2){
    flex: 0.60;
}



/* ############################ subject-tag-list ############################ */


.general-info-form .subject-tag-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* padding: 15px; */
    gap: auto 1.0em;
    height: 100%;
    /* width: clamp(200px, 75vw, 400px); */
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    width: 100%;
}

.subject-tag-list .quiz-subject{
    background-color: #c9c9c9;
    color: #444444;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    /* padding: 120px 10px; */
    box-sizing: border-box;
    padding: 0.5em 1em;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    /* height: clamp(30px, 100%, 45px); */
    /* height: 80%; */
    /* max-width: 150px; */
    /* max-height: 2.4em; */
}

.subject-tag-list .quiz-subject:hover{
    background-color: #b7b7b7;
}

.subject-tag-list .quiz-subject-selected{
    background-color: #1ad804;
    transform: scale(1.05);
    transition: 0.3s ease;
}


.subject-tag-list .quiz-subject-selected:hover{
    background-color: #18ed00;
}


/* ############################ question-list-section ############################ */


.question-list-section{
    flex: 1;
    font-size: inherit;
    /* background-color: red; */
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #444444;
}


.question-list-section .question-list-panel{
    width: 100%;
    padding: 1em;
    /* margin-top: 44px; */
    background-color: #444444;
    /* display: flex; */
    /* flex-direction: column; */
    box-sizing: border-box;
    /* align-items: center; */
    overflow-y: hidden;
    resize: both;
    min-height: 250px;
    min-width: fit-content;
    font-size: inherit;
    font-family: 'Courier New', Courier, monospace;
    /* margin-bottom: 100px; */

}


.question-list-panel .insert-question-button-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: inherit;
}

.insert-question-button-wrapper label {
    font-size: 0.9em;
    margin-bottom: 3px;
    font-weight: bold;
    font-family: inherit;
}

.insert-question-button-wrapper img {
    cursor: pointer;
}

.question-list-panel .question-list{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.question-list .question {
    width: 100%;
    /* height: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;
    /* margin: 20px; */
    gap: 10px;
    font-size: inherit;
    /* background-color: red; */
}

.question .question-attributes{
    display: flex;
    color: inherit;
    align-items: center;
    /* background-color: red; */
    font-size: large;
    gap: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #636363;
    font-size: inherit;
}

.question .question-no{
    height: 1.2em;
    color: inherit;
    font-size: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: bold;
}



.question .question-text, .question .option-text{
    outline: none;
    border: none;

    color: inherit;
    font-family: inherit;
    background-color: inherit;

}

.question .question-text{
    width: 95%;
    max-height: 25px;
    /* border-left: 1px solid #333333; */
    font-size: 1.2em;
    font-weight: bold;
    line-height: 4.5;
    position: relative;
    /* top: -10px; */


}

.question .option-alpha{
    font-size: large;
}

.question-options{
    font-size: 1em;
}

.question-option{
    display: flex;
    flex-direction: row;
    font-size: inherit;
    width: 100%;
    /* background-color: green; */
}



.question-option .option-alpha {
    max-width: fit-content;
    font-size: 1.2em;
}




.question-option .option-text{
    /* background-color: red; */
    width: 100%;
    font-size: 1.2em;
}



.quiz-editor-nav-menu .submit-button{
    /* margin: 10px auto; */
    /* padding: 30px 100px; */
    padding: 5px 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.0em;
    font-family: inherit;
    max-width: fit-content;
    text-align: center;
    box-sizing: border-box;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    display: inline-block;
}

@media only screen and (max-width: 1200px){
    .quiz-specification-panel .section-wrapper{
        /* height: clamp(600px, 75vh, 1650px); */
        flex-direction: column;
        justify-content: flex-start;
        /* gap: 0; */
        /* background-color: red; */
    }
}

@media only screen and (max-width: 420px){


    .general-info-form {
        /* height: fit-content; */
        flex-direction: row;
        height: clamp(100px, 50vh, 150px);
    }

    .subject-tag-list, .name-difficulty-time-panel {
        height: 100%;
        width: 50%;
        /* height: 50%; */
        flex: 1;
    }



    .general-info-form .subject-tag-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px){
    .quiz-specification-panel .header-submit-button-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }

    .general-info-form{
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .quiz-editor-nav-menu {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 
        "a c"
        "b b";
        gap: 0;
        align-items: center;
        justify-items: start;
        /* align-content: center; */
        /* justify-items: center;  This centers the items within the grid cells */
        /* margin: 15px auto; */
        /* background-color: red; */
    }
    
    .quiz-editor-nav-menu .submit-button {
        justify-self: start;
        margin: 0;
    }

    .nav-menu-panel{
        justify-self: center;
    }
}