
.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}   

.main-content-navbar-wrapper{
    display: flex;
    justify-content: center;
}

.assessment-section{
    margin: 20px;
    
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 5px 10px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.assessment-section h2 {

    color: #2e7d32; /* Dark green */
    font-size: 28px;
}

.main-content-navbar {
    width: 100%;
    background-color: rgb(116, 238, 28);
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
    padding: 5px 0;
    max-width: 700px;
}

.main-content-navbar-button {
    width: 20%;
    background-color: #ffffff;
    border: 2px solid #4caf50;
    color: #4caf50;
    padding: 10px 30px;
    font-size: 22px;

    border-radius: 15px;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    min-width: 180px;
}

.main-content-navbar-button:hover {
    background-color: #4caf50;
    color: #ffffff;
    transform: scale(1.05);
}

.main-content-navbar-button:active {
    transform: scale(1.02);
}

.main-content-navbar-button.toggled {
    background-color: #4caf50;
    color: #ffffff;
    transform: scale(1.05);
}

.quiz-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Responsive grid */
    gap: 30px; /* Space between items */
    justify-items: center; /* Center items horizontally */
    align-items: center;
    margin-top: 15px;
    padding: 7px;
}

.quiz-element {
    font-family: sans-serif;
    background-color: green;
    /* width: 100%; */
    min-width: 310px;
    max-width: 310px;
    height: 210px; /* Set fixed height */
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    overflow: hidden; /* Hide any content that overflows */
    position: relative; /* Needed for absolute positioning of ellipsis */
    background-image: url('../img/math_theme.png');

    /* background-image: url('../images/math_theme.png'); */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    cursor: pointer;
  
}

.quiz-element:hover{
    /* outline: 2px solid green; */
    transform: scale(1.05);
}


.quiz-element h3 {
    padding: 3px;
    color: black;
    background-color: yellow;
    width: fit-content;
}

.quiz-element h3:hover {
    transform: scale(1.05);
}

.quiz-element article {
    overflow: hidden; /* Hide any content that overflows */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 5em; /* Maximum height of three lines */
    white-space: normal; /* Allow text to wrap within the element */
    background-color: black;
    color: white;
}

.quiz-element article:hover {
    transform: scale(1.04);
}

.quiz-attributes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    margin: 10px 5px 5px 5px;

}

.quiz-time {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    gap: 2px;
    background-color: grey;
    /* max-width: 70px; */
    border-radius: 15px;
    padding: 5px 10px;
    width: 100%;
}

.quiz-time:hover{
    transform: scale(1.05);
}


.quiz-question-count {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    justify-content: center;
    gap: 2px;
    background-color: white;
    /* max-width: 70px; */
    border-radius: 15px;
    padding: 5px 10px;
    width: 100%;
}

.quiz-question-count:hover{
    transform: scale(1.05);
}


.quiz-difficulty{
    font-weight: bold;
    display: flex;
    background-color: orange;
    border-radius: 15px;
    padding: 5px 10px;
    justify-content: center;
    align-self: start;
    width: 100%;
}

.quiz-difficulty:hover{
    transform: scale(1.05);
}

.quiz-question-count label, .quiz-time label {
    position: relative;
    top: 0.5px;
}

.category-tag-list{
    margin: 0px 5px;
}

.category-tag {
    background-color: blue;
    border-radius: 15px;
    gap: 5px;
    width: 33%;
    padding: 5px;
    text-align: center;
}
