
body{
    margin: 0;
    /* background-color: green; */
}

main {
    margin: auto;
    /* background-color: rgb(112, 116, 112); */
    width: 100%;

}




@media screen and (max-width: 1040px){

    main{
        margin-top: 50px;
    }
}