.website-header{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background: linear-gradient(rgb(0, 255, 0), rgb(4, 181, 4));
    color: white;
    padding: 0px 19px;
    gap: 10%;
    height: 110px;
}

.logo-menu-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10%;
}


.website-header h1{
    min-width: 150px;
    /* background-color: red; */
    cursor: pointer;
}



.vertical-space-filler{
    height: 100%;
    display: flex;
    align-items: center;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    width: 400px;
    gap: 5px;
    height: 40%;
}



.dropdown-menu-displayed a{
    background: rgb(2, 167, 2);
    padding: 4px 0px 4px 6px;
    font-size: 15px;
    text-align: left;
    color: inherit;
    opacity: 1;
    cursor: pointer;
}

.dropdown-menu-displayed a:hover{
    background: rgb(2, 143, 2);

}

.dropdown-menu{
    display: flex;
    width: 33%;
    background-color: rgb(2, 167, 2);
}

.dropdown-arrow-icon-clicked{
    transform: rotate(180deg);
}

.dropdown-menu-moved{
    position: relative;
    top: 20px;
}

.header-menu-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(2, 167, 2);
    width: 33%;
    height: 35px;
    text-align: center;
    padding: 0px 0px 0px 5px;
    position: relative; /* Add this line */
    cursor: pointer;
}

.header-menu-option label{
    cursor: pointer;
}

.dropdown-menu-options {
    display: none;
    border: 1px solid #ccc;
    margin-top: 3px;
    padding-top: 4px;
    width: 125px;
}

.dropdown-menu-displayed{
    /* background: rgb(0, 0, 0); */
    color: inherit;
    opacity: 0.8;
    gap: 3px;
    background: rgb(8, 202, 8);
    display: flex;
    flex-direction: column;

    position: absolute; /* Change this line */
    top: 90%; /* Position it below the header-menu-option */
    width: 100%;
    left: 0px;
    z-index: 1; /* Ensure it appears above other elements */
    padding-bottom: 5px;
    border: 0;
    border-radius: 0px 0px 5px 5px;
}

.header-menu .vr {
    border: 1px solid;
    background-color: inherit;
    height: 100%;
}

.dropdown-arrow-icon-container{
    text-align: center;
    background-color: rgb(0, 137, 0);
    padding: 5px;
    align-content: center;
    height: 100%;
    box-sizing: border-box;
}




.search-bar-account-icon-section{
    display: inline-flex;
    gap: 15px;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.search-bar img {
    position: relative;
    left: 27px;
}

.search-bar input{
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 13px 10px 33px;
}



.account-panel-icon{
    background-color: rgb(2, 167, 2);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.account-panel-icon:hover{
    background-color: green;
    border-radius: 15px;
    padding: 10px;
}



@media screen and (max-width: 1040px){

    .website-header{
        gap: 0;
        justify-content: space-between;
    }

    .logo-menu-section{
        width: 200px;
        display: flex;
        display: block;
    }

    .vertical-space-filler{
        position: relative;
        top: 15px;
    }

    .header-menu{
        width: 400px;
        height: fit-content;
        /* background-color: red; */
        position: absolute;
    }
}
