

.qutehub-panel{

    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 10px;
    box-sizing: border-box;
}

.qutehub-panel-header{
    background: linear-gradient(rgb(109, 109, 109), black);
    border-radius: 15px;
    padding: 10px 10px;
    position: relative;
    z-index: 10; 
    box-shadow: 2px -3px 10px #7e7e7e inset;
    margin-bottom: 10px;
}

.qutehub-panel-header > h2 {
    font-size: 1.3em;
}

.qutehub-panel-content{
    background-color: rgba(45, 45, 45, 0.331);
    border-radius: 0px 0px 15px 15px;
    /* padding: 0 10px; */
    padding-bottom: 10px;
    position: relative;
    top: -25px;
    padding-top: 25px;
    z-index: 5;
    /* min-height: 200px; */
    /* height: 200px; */
}
